body {
    background-image: url('medya/genel_arkaplan.jpg');
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat;
}

.silik-arkaplan {
    background: linear-gradient(rgba(255, 255, 255, 0.70), rgba(255, 255, 255, 0.70)), 
                url('medya/hakkimda_arkaplan.jpg');
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}